.heading-group2{
    height: auto;
    color: white;
}

.formfields {
}

.kontakt {
    background: -webkit-linear-gradient(0deg, #712FEB,  #88D1FF);
    background: -moz-linear-gradient(0deg, #712FEB,  #88D1FF);
    background: linear-gradient(90deg, #712FEB,  #88D1FF);

    width: 100vw;
}


.form-control {
    border-radius: 0.6rem;
}

#textarea {
    resize: none;
}


/////////////////////////////////////////////////
//Meida queries

@media screen and (max-width: 768px) {
    
    .heading-group2 {
        margin: 0rem 1rem;
        width: 90%;
    }

    .formfields {
        width: 90%;
        margin: auto;
    }
}