//Style for the page headers

.page-header {


    height: 100vh;
    width: 100vw;

    display: flex;

    position: relative;

    background: -webkit-linear-gradient(0deg, #712FEB,  #88D1FF);
    background: -moz-linear-gradient(0deg, #712FEB,  #88D1FF);
    background: linear-gradient(90deg, #712FEB,  #88D1FF);

    opacity: 1;

}


.heading-group {
    color: white;
    text-align: center;
    margin: 15rem auto auto auto;
}

/////////////////////////////////////////////
//media queries

@media screen and (max-width: 768px) {

    .page-header {
        height: 100vh;
        width: 100vw;
    }
}

@media screen and (max-width: 480px) {

    .page-header {
        height: 100vh;
        width: 100vw;
    }
    #slogan {
        font-size: 3rem;
    }
    
}