
.section {
    margin:0 auto;
    width: 60%;
    word-spacing:-1.5px;
}

.whatwedo {
    text-align: center;
}

.projects, .clients {
    margin: auto;
    
}

.team {
    width: 100vw;
    height: 50vh;
    background-color: #0000004D;
    position: relative;
}



.image-holder {
    display: inline;
}



// .greater-smaller-then {
//     position: absolute;
// }

#smaller1 {
    color: #000;
}


#greater1 {
    color: #fff;
}

#smaller2 {
    color: #fff;
}


#greater2 {
    color: #000;
}

