
.section {
    text-align: justify;
    margin:0 auto;
    width: 50%;
}

.projects, .clients {
    margin: auto;
    
}

.team {
    width: 100vw;
    height: 50vh;
    background-color: #0000004D;
    position: relative;
}



.image-holder {
    display: inline;
}



// .greater-smaller-then {
//     position: absolute;
// }

#smaller1 {
    color: #000;
}


#greater1 {
    color: #fff;
}

#smaller2 {
    color: #fff;
}


#greater2 {
    color: #000;
}

#pic-1 {
}

#pic-2 {
}

#pic-3 {
}

#pic-4 {

}