
.section {
    text-align: justify;
    margin:0 auto;
    width: 50%;
}

.projects, .clients {
    margin: auto;
    
}

.team {
    width: 100vw;
    height: 40vh;
    background-color: gray;
}

.image-holder {
    display: inline;
}



// .greater-smaller-then {
//     position: absolute;
// }

#smaller1 {
    color: #000;
}


#greater1 {
    color: #fff;
}

#smaller2 {
    color: #fff;
}


#greater2 {
    color: #000;
}
