// Inoova logo
.logo {
    width: 7rem;
    height: auto;
}

// Changing Burger Icon
.navbar .navbar-toggler-icon {
    padding-left: 10rem;
    position: relative;
    z-index: 100;
    background-image: url('../../img/HamburgerMenu.svg');
}




//Navbar overoll design
.navbar {
    //background: transparent;
    //position: absolute;
    width: 100vw;

    background: -webkit-linear-gradient(0deg, #712FEB,  #88D1FF );
    background: -moz-linear-gradient(0deg, #712FEB, #88D1FF );
    background: linear-gradient(90deg, #712FEB,  #88D1FF );


    
    // opacity : 94%;
    // filter: brightness(90%);
    //filter: brightness(120%);
}


//Navbar menu design
.menu {
    background-color: black;
    width: 30%;
    height: 100vh;
    position: fixed;
    top: 0%;
    left: 75%;
    border-radius: 50px;
    z-index: -1;
}


// Navbar menu unordered list design
ul {
    list-style: none;

    li {
        a {
            text-decoration: none;
            color: black;

            &:hover {
                color: black;
            }
        }
    }
}