.logo {
    width: 7rem;
    height: auto;
}

.navbar .navbar-toggler-icon {
    background-image: url('../../img/HamburgerMenu.svg');
    padding-left: 10rem;
}

.navbar {
    //background: transparent;
    //position: absolute;
    width: 100vw;

    background: -webkit-linear-gradient(0deg, #712FEB,  #88D1FF );
    background: -moz-linear-gradient(0deg, #712FEB, #88D1FF );
    background: linear-gradient(90deg, #712FEB,  #88D1FF );


    
    // opacity : 94%;
    // filter: brightness(90%);
    //filter: brightness(120%);
}

.navbarToggler {
    left: 100%;
    width: 35.625%;
}

